{% extends 'base.html' %}
{% block content %}

<h1>Vykdomi užsakymai</h1>
<hr/>
<p>Šiuo metu turime {{ kiekis }} vykdomu/us užsakymu/us</p>
<p>Užsakymai su statusu Eigoje:</p>
<ul>
    {% for uzsakymas_obj in uzsakymai1 %}
    <li>
        {{ uzsakymas_obj.data }},
        Klientas: {{ uzsakymas_obj.automobilis.klientas }},
        {{ uzsakymas_obj.automobilis.automobilio_modelis }},
        <a href="{% url 'order' uzsakymas_obj.id %}">Peržiureti plačiau</a>
    </li>

    {% endfor %}

</ul>
<p>Užsakymai su statusu Atliktų darbų tikrinimas:</p>
<ul>
    {% for uzsakymas_obj in uzsakymai2 %}
    <li>
        {{ uzsakymas_obj.data }},
        Klientas: {{ uzsakymas_obj.automobilis.klientas }},
        {{ uzsakymas_obj.automobilis.automobilio_modelis }},
        <a href="{% url 'order' uzsakymas_obj.id %}">Perziureti placiau</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}