{% extends 'base.html' %}
{% block content %}

<h1>Pasirinktas užsakymas: {{ uzsakymas.data }}
                            {{ uzsakymas.automobilis.marke }}
                            {{ uzsakymas.automobilis.modelis }}</h1>
<hr/>
<p>Detalesne informacija apie užsakymą:</p>
<ul>
    <li><strong>Kliento Vardas Pavardė:</strong> {{ uzsakymas.automobilis.klientas}}</li>
    {% for uzsakymas_obj in uzsakymas.uzsakymoeilutes_set.all %}
    <li>Paslaugų kiekis({{ uzsakymas_obj.kiekis}}) {{ uzsakymas_obj.paslauga }}</li>
    {% endfor %}
    <li><strong>Suma apmokejimui:</strong> {{ uzsakymas.suma}}€</li>

</ul>
{% endblock %}